.quiz_wrapper {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 400px;
  max-width: 60%;
  padding: 30px 0;
}

.quiz_stepper_wrapper {
  height: 100%;
}
